.about_me {
  margin-top: 112px;
  padding: 5rem 0;
}
.about_me__inner {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.about_me__img {
  border-radius: 35px;
  overflow: hidden;
  width: 35%;
}
.about_me__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  
}
.experiance-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-bg-variant);
  border-radius: 15px;
  background: var(--color-bg-variant);
  transition: var(--transition);
  width: 150px;
  height: 150px;
  padding: 1rem;
  &:hover {
    border: 1px solid var(--color-ligh);

    background: transparent;
  }
}
.tittle-ab {
  text-transform: capitalize;
  font-weight: 500;
}
.description-ab {
  font-size: 13px;
  color: var(--color-ligh);
}
.about_me__text {
  font-weight: 500;
  color: var(--color-ligh);
  margin-bottom: 4rem;
}

.donload-icon {
  margin-left: 10px;
  margin-bottom: -4px;
}
@media screen and (max-width: 1150px) {
  .about_me__inner {
    gap: 2rem;
  }
  .about_me__img {
    width: 40%;
  }
}
@media screen and (max-width: 1150px) {
  .about_me__content {
    width: 45%;
  }
  .about_me__img {
    width: 50%;
  }
}
@media screen and (max-width: 1100px) {
  .experience {
    width: 140px;
    height: 140px;
  }
  .experiance-block {
    gap: 1rem;
  }
}
@media screen and (max-width: 950px) {
  .experience {
    width: 120px;
    height: 120px;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 850px) {
  .about_me__inner {
    flex-direction: column;
  }
  .about_me__content {
    align-items: center;
  }
  .about_me__content {
    width: 100%;
  }
  .about_me__img {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .tittle-ab {
    font-size: 13px;
  }
  .description-ab {
    font-size: 10px;
  }
  .experience {
    width: 100px;
    height: 100px;
    padding: 0.5rem;
  }
}
