.portfolio {
  margin-top: 112px;
  padding: 5rem 0;
}
.portfolio__nav {
  margin-top: 2rem;

  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    & li {
      color: var(--color-primary);
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1rem;
      padding: 5px 20px;
      transition: var(--transition);
      border-radius: 20px;

      &:hover {
        background-color: var(--color-primary);
        color: var(--color-wite);
        cursor: pointer;
      }
      &.active {
        background-color: var(--color-primary);
        color: var(--color-wite);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .portfolio__nav {
    & ul {
      gap: 1rem;
    }
  }
  .portfolio {
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .portfolio__nav {
    & ul {
      gap: 0.5rem;
    }
  }
}
